<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163209910240-tgm6t93g378ef927qdlfcu7u99cv6fah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163209910240-tgm6t93g378ef927qdlfcu7u99cv6fah</string>
	<key>API_KEY</key>
	<string>AIzaSyAuNTBWhhemep83sPYNQvYCN59VIAjG4So</string>
	<key>GCM_SENDER_ID</key>
	<string>163209910240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.olar.Hafter</string>
	<key>PROJECT_ID</key>
	<string>hafter-b8210</string>
	<key>STORAGE_BUCKET</key>
	<string>hafter-b8210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163209910240:ios:6af3f6b10d03390e117d85</string>
</dict>
</plist>